<section class="blog">

	<div ng-show='existingArticles()'>
		<div ng-hide='article.cleared' class='read-{{article.read}}' ng-repeat="article in articles">
			<p ng-click='article.show = !article.show' >{{article.title}} <a href='{{article.link}}' target='_blank'>(Link)</a></p>
			<div ng-show='article.show' ng-bind-html="article.content"></div>
		</div>
	</div>

	<div ng-hide='existingArticles()'>
		<div >
			Unable to load RSS feed.
		</div>
	</div>

	<div>
		<button ng-click="showOrHideAll()"><span>Show content</span></button>
	</div>
	
</section>