<article>

	<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

	<section class="contact">

		<h3 style="padding-left: 0">Kontakt:</h3>

		<p>
			<strong>Steffen Kühne</strong><br>
			Soyerhofstr. 16a<br>
			81547 München
		</p>

		<p>
			Telefon: +491757563296<br>
			E-Mail: s.kuehne@onlinehome.de<br>
		</p>

	</section>

	<iframe class="map" width="100%" height="300px" frameBorder="0" align="right" src="https://a.tiles.mapbox.com/v4/stekhn.k0d2ho5k/zoomwheel.html?access_token=pk.eyJ1Ijoic3Rla2huIiwiYSI6Il9UaG0ybVEifQ.9WQGunDS5z-4GjDk0_H1Bg"></iframe>

	<section class="social">

		<section class="timeline">

			<h3 style="padding-left: 0">Weitere Profile:</h3>

			<div class="line"></div>

			<div class="row">
				<div class="bubble skype"></div>
				<p>Skype: stekhn</p>
			</div>

			<div class="row">
				<div class="bubble twitter"></div>
				<p>Twitter: @stekhn</p>
			</div>

		</section>

			<section class="timeline">

			<div class="line"></div>

			<div class="row">
				<div class="bubble google"></div>
				<p>Google+: Steffen Kühne</p>
			</div>

			<div class="row">
				<div class="bubble facebook"></div>
				<p>Facebook: stekhn</p>
			</div>

		</section>

		<section class="timeline">

			<div class="line"></div>

			<div class="row">
				<div class="bubble xing"></div>
				<p>Xing: Steffen Kühne</p>
			</div>

			<div class="row">
				<div class="bubble linkedin"></div>
				<p>LinkedIn</p>
			</div>

		</section>

			<section class="timeline">

			<div class="line"></div>


			<div class="row">
				<div class="bubble github"></div>
				<p>Github: stekhn</p>
			</div>

			<div class="row">
				<div class="bubble vimeo"></div>
				<p>Vimeo: stekhn</p>
			</div>

		</section>

	</section>

</article>