<article>

	<p class="description">
		Ich bin immer auf der Suche nach spannenden Projekten im Bereich interaktive Grafik, Datenjournalismus und Anwendungsentwicklung. Wenn Sie Interesse haben mit mir zusammenzuarbeiten, würde ich mich über eine kurze Nachricht freuen.
	</p>

	<section class="contact">

		<iframe class="map" frameBorder='0' src='https://a.tiles.mapbox.com/v4/stekhn.k0d2ho5k/attribution,zoompan.html?access_token=pk.eyJ1Ijoic3Rla2huIiwiYSI6Il9UaG0ybVEifQ.9WQGunDS5z-4GjDk0_H1Bg'></iframe>
		
		<section class="address">

			<h3>Kontakt</h3>

			<p>
				<strong>Steffen Kühne</strong><br>
				Soyerhofstr. 16a<br>
				81547 München
			</p>

			<p>
				Telefon: +49 175 7563296<br>
				E-Mail: s.kuehne@onlinehome.de<br>
				PGP: 0x3A73C8B253D409AF
			</p>

		</section>

	</section>

	<section class="social">

		<h3>Weitere Profile:</h3>

		<section class="timeline">

			<a href="https://twitter.com/stekhn" target="_blank">
				<div class="row">
					<div class="bubble twitter"></div>
					<p>Twitter</p>
				</div>
			</a>

			<a href="https://www.skype.com" target="_blank">
				<div class="row">
					<div class="bubble skype"></div>
					<p>Skype</p>
				</div>
			</a>

		</section>

		<section class="timeline">

			<a href="https://plus.google.com/+steffenkühne/" target="_blank">
				<div class="row">
					<div class="bubble google"></div>
					<p>Google+</p>
				</div>
			</a>

			<a href="https://facebook.com/stekhn" target="_blank">
				<div class="row">
					<div class="bubble facebook"></div>
					<p>Facebook</p>
				</div>
			</a>

		</section>

		<section class="timeline">

			<a href="http://xing.to/stekhn" target="_blank">
				<div class="row">
					<div class="bubble xing"></div>
					<p>Xing</p>
				</div>
			</a>

			<a href="https://de.linkedin.com/in/stekhn" target="_blank">
				<div class="row">
					<div class="bubble linkedin"></div>
					<p>LinkedIn</p>
				</div>
			</a>
			
		</section>

		<section class="timeline">

			<a href="https://github.com/stekhn" target="_blank">
				<div class="row">
					<div class="bubble github"></div>
					<p>Github</p>
				</div>
			</a>

			<a href="http://vimeo.com/stekhn/" target="_blank">
				<div class="row">
					<div class="bubble vimeo"></div>
					<p>Vimeo</p>
				</div>
			</a>

		</section>

	</section>

</article>
