<article  class="contact">

	<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

	<section class="timeline">

		<h3 style="padding-left: 0">Kontakt:</h3>

		<div class="line"></div>

		<div class="row">
			<div class="bubble skype"></div>
			<p>Skype: stekhn</p>
		</div>

		<div class="row">
			<div class="bubble twitter"></div>
			<p>Twitter: @stekhn</p>
		</div>

		<div class="row">
			<div class="bubble google"></div>
			<p>Google+: Steffen Kühne</p>
		</div>

		<div class="row">
			<div class="bubble facebook"></div>
			<p>Facebook: stekhn</p>
		</div>

	</section>

	<section class="timeline">

		<div class="line"></div>

		<div class="row">
			<div class="bubble xing"></div>
			<p>Xing: Steffen Kühne</p>
		</div>

		<div class="row">
			<div class="bubble linkedin"></div>
			<p>LinkedIn</p>
		</div>

		<div class="row">
			<div class="bubble github"></div>
			<p>Github: stekhn</p>
		</div>

		<div class="row">
			<div class="bubble vimeo"></div>
			<p>Vimeo: stekhn</p>
		</div>

	</section>

</article>