<article class="blog">

	<p>Curriculum Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
	</p>

	<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

	<section class="bio">

		<section class="timeline">

			<h3 style="padding-left: 0">Lebenslauf</h3>

	        <div class="line"></div>

	        <div class="row">
	            <div class="bubble"></div>
	            <p class="timestamp"><strong>11/2014 bis heute</strong></p>
	            <p>Süddeutsche.de: Entwicklungsredaktion</p>
	        </div>

	        <div class="row">
	            <div class="bubble"></div>
	            <p class="timestamp"><strong>03/2013 bis 11/2014</strong></p>
	            <p>Süddeutsche.de: Volontär für interaktive Grafik und Datenjournalismus</p>
	        </div>

	        <div class="row">
	            <div class="bubble"></div>
	            <p class="timestamp"><strong>2012 bis 2013</strong></p>
	            <p>Ludwig-Maximilians-Universität München: Medieninformatik (B.Sc.)</p>
	        </div>

	        <div class="row">
	            <div class="bubble"></div>
	            <p class="timestamp"><strong>2009 bis 2012</strong></p>
	            <p>Katholische Universität Eichstätt-Ingolstadt: Journalistik (B.A.)</p>
	        </div>

	    </section>


	    <section class="skills">

	        <h3>Kompetenzen</h3>

	        <p>JavaScript, HTML 5, CSS 3<br>
			Photoshop, Illustrator, InDesign<br>
			UX, Informationsarchitektur<br>
			Datenrecherche, Excel, QGIS<br>
			Kamera, Videoschnitt, Text</p>

	        <h3>Erfahrung</h3>

	        <p>AngularJS, NodeJS, Sass, Bootstrap, MongoDB,<br>
	        Leaflet, CartoDb, jQuery, Git, Grunt</p>

	    </section>
	    
    </section>

</article>