<article>

	<p>
		Das Internet ist eine großartige Bühne für Menschen und ihre Geschichten. Um Geschichten im Netz gut erzählen zu können, braucht man sowohl ein solides technisches Grundwissen, als auch eine Gespür für Gestaltung und Dramaturgie.  
	</p>

	<section class="bio">

		<section class="timeline">

			<h3 style="padding-left: 0">Lebenslauf</h3>

			<div class="line"></div>

			<div class="row">
				<div class="bubble"></div>
				<p class="timestamp"><strong>11/2014 bis heute</strong></p>
				<p>Süddeutsche.de: Entwicklungsredaktion</p>
			</div>

			<div class="row">
				<div class="bubble"></div>
				<p class="timestamp"><strong>03/2013 bis 11/2014</strong></p>
				<p>Süddeutsche.de: Volontär interaktive Grafik und Datenjournalismus</p>
			</div>

			<div class="row">
				<div class="bubble"></div>
				<p class="timestamp"><strong>2012 bis 2013</strong></p>
				<p>Ludwig-Maximilians-Universität München: Medieninformatik (B.Sc.)</p>
			</div>

			<div class="row">
				<div class="bubble"></div>
				<p class="timestamp"><strong>2009 bis 2012</strong></p>
				<p>Katholische Universität Eichstätt-Ingolstadt: Journalistik (B.A.)</p>
			</div>

		</section>


		<section class="skills">

			<h3>Kompetenzen</h3>

			<p><span class="line">JavaScript, HTML 5, CSS 3 </span><span class="circle">⬤ ⬤ ⬤</span><br>
			<span class="line">Photoshop, Illustrator, InDesign </span><span class="circle"> ⬤ ⬤ ⬤</span><br>
			<span class="line">Datenrecherche, Excel, QGIS </span><span class="circle">⬤ ⬤ ⬤</span><br>
			<span class="line">UX, Informationsarchitektur </span><span class="circle">⬤ ⬤ <span class="grey">⬤</span></span><br>
			<span class="line">Scrum, Kanban, agiles Arbeiten </span><span class="circle"> ⬤ ⬤ <span class="grey">⬤</span></span><br>
			<span class="line">Kamera, Videoschnitt, Text </span><span class="circle">⬤ <span class="grey">⬤</span> <span class="grey">⬤</span></span></p>

			<h3 class="experiance">Erfahrung</h3>

			<p>AngularJS, NodeJS, Sass, Bootstrap, MongoDB,<br>
			Leaflet, CartoDb, jQuery, Git, Grunt</p>

		</section>

	</section>

</article>