<header>
	<h1><a href="#/">Steffen Kühne</a></h1>
    <!-- p>Data, Code & Design</p -->  
    <p>Interaktive Grafik, Datenjournalismus</p>  
</header>

<nav ng-controller="NavCtrl">
	<ul>
		<!-- @TODO Generate these with ng-repeat from JSON -->
		<li>
			<a href="#/" ng-class="{active: isActive('/')}">Portfolio</a>
		</li>

		<li>
			<a href="#/curriculum" ng-class="{active: isActive('/curriculum')}">Vita</a>
		</li>

		<li>
			<a href="#/contact" ng-class="{active: isActive('/contact')}">Kontakt</a>
		</li>

		<li>
			<a href="#/blog" ng-class="{active: isActive('/blog')}">Blog</a>
		</li>

		<li>
			<a href="#/imprint" ng-class="{active: isActive('/imprint')}">Impressum</a>
		</li>
		
	</ul>
</nav>