<article class="project-page">

	<div class="project-description">
		<p><strong>{{project.title}}</strong><p>
		<p>{{project.description}}</p>

		<blockquote>
			<p>
				{{project.type}}<br>
				{{project.date}} for {{project.client}}<br>
				Tasks: {{project.role}}
			</p>
		</blockquote>
		
		<p><a ng-href="'{{project.url}}'">See the project online</a></p>
	</div>

	<div class="project-images">
		<img ng-repeat="image in project.images" alt="{{project.title}}" ng-src="{{'img/project/' + image}}">
	</div>

	<div>
		<a href="#/portfolio" class="back">back</div>
	</div>

</article>