<!-- project thumbnails -->
<figure ng-repeat="project in projects" ng-show="!ProjectsCtrl.detailMode" class="project-thumb">
	<a href ng-click="ProjectsCtrl.setMode($index)">
		<img alt="{{project.title}}" ng-src="{{'img/project/' + project.images[0]}}">
	</a>
</figure>


<!-- project details -->
<article ng-show="ProjectsCtrl.detailMode" class="project-page">

	<div class="project-description">
		<p><strong>{{projects[ProjectsCtrl.currentProject].title}}</strong><p>
		<p>{{projects[ProjectsCtrl.currentProject].description}}</p>

		<blockquote>
			<p>
				{{projects[ProjectsCtrl.currentProject].type}}<br>
				{{projects[ProjectsCtrl.currentProject].date}} for {{projects[ProjectsCtrl.currentProject].client}}<br>
				Tasks: {{projects[ProjectsCtrl.currentProject].role}}
			</p>
		</blockquote>
		
		<p><a ng-href="'{{projects[ProjectsCtrl.currentProject].url}}'">See the project online</a></p>
	</div>

	<div class="project-images">
		<img ng-repeat="image in projects[ProjectsCtrl.currentProject].images" alt="{{projects[ProjectsCtrl.currentProject].title}}" ng-src="{{'img/project/' + image}}">
	</div>

	<div>
		<div ng-click="ProjectsCtrl.setMode(-1)" class="back">back</div>
	</div>

</article>