<article>

	<p class="description">
		Willkommen. Mein Schwerpunkt ist die Konzeption und Umsetzung von interaktiven Grafiken, Visualisierungen und Web-Anwendungen im Bereich Storytelling und Datenjournalismus. Ich arbeite als Freiberufler in München und freue mich über Ihre <a href="#!/contact">Anfrage</a>. Hier eine Übersicht besonders gelungener Projekte der letzten Jahre:
	</p>

	<section class="project-wrapper">

		<div ng-repeat="project in projects" class="project-thumb">

			<a href="#!/project/{{project.title | dashcase}}">

				<img alt="{{project.title}}" ng-src="{{'img/project/' + project.images[0]}}">
				<div class="overlay">
					<p>{{project.title}}</p>
				</div>

			</a>

		</div>

	</section>

</article>