$red: #bf3600;
$black: #222;
$lightgrey: #eee;
$darkgrey: #aaa;

@mixin image-box {
	padding: 10px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 3px #eee;
}

@mixin transition($speed) {
	transition: all $speed ease-in-out $speed;
	-webkit-transition: all $speed ease-in-out $speed;
	-moz-transition: all $speed ease-in-out $speed;
	-o-transition: all $speed ease-in-out $speed;
}

@import "compass/css3";
@import "partials/reset.scss";
@import "partials/font.scss";
@import "partials/main.scss";
@import "partials/header.scss";
@import "partials/project.scss";
@import "partials/curriculum.scss";
@import "partials/contact.scss";
@import "partials/footer.scss";
@import "partials/mediaqueries.scss";
