$red: #bf3600;
$red: #d22444;
$red: #86ad38;
$black: #222;
$lightgrey: #eee;
$darkgrey: #aaa;
$white: #fff;
$background: #fff;;

@mixin image-box {
  padding: 10px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 3px #eee;
}

@mixin transition($speed) {
  transition: all $speed ease-in-out;
  -webkit-transition: all $speed ease-in-out;
  -moz-transition: all $speed ease-in-out;
  -o-transition: all $speed ease-in-out;
}

@import "partials/reset.scss";
@import "partials/font.scss";
@import "partials/main.scss";
@import "partials/header.scss";
@import "partials/project.scss";
@import "partials/curriculum.scss";
@import "partials/contact.scss";
@import "partials/blog.scss";
@import "partials/footer.scss";
@import "partials/mediaqueries.scss";
