$red: #bf3600;
$black: #222;
$lightgrey: #eee;
$darkgrey: #aaa;

@mixin image-box {
	padding: 10px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 3px #eee;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin transition($speed) {
	transition: all $speed ease-in-out $speed;
	-webkit-transition: all $speed ease-in-out $speed;
	-moz-transition: all $speed ease-in-out $speed;
	-o-transition: all $speed ease-in-out $speed;
}

@import "compass/css3";
@import "partials/reset.scss";
@import "partials/font.scss";
@import "partials/main.scss";
@import "partials/header.scss";
@import "partials/project.scss";
@import "partials/curriculum.scss";
@import "partials/contact.scss";
@import "partials/footer.scss";

// html {
// 	box-sizing: border-box;
// }

// *, *:before, *:after {
// 	box-sizing: inherit;
// }

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 15px/22px;
	color: #222;

	max-width: 1200px;
	padding: 0 3em;
	margin: 2em auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'League Gothic', 'Arial Narrow', Impact, sans-serif;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
	margin-bottom: 1em;
}

h3 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: .5em;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

.loading {
	position: relative;
	z-index: 100;
	height: 20em;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -32px 0 0 -32px;
		width: 64px;
		height: 64px;		
	}
}


@media (max-width: 960px) {

	.project-thumb {
		width: 30%;
	}

}

@media (max-width: 768px) {

  	.project-thumb {
		width: 45%;

		figcaption {
			opacity: 1;
		}
	}

	.map {
		margin-top: 0;
	}

	nav {
		float: none;
		margin: 0 0 2em 0;
	}
}

@media (max-width: 460px) {

	body {
		padding: 0 2em;
		margin: 1em auto;
	}

  	.project-thumb {
		width: 100%;
	}
}