.contact {
	display: inline-block;
	vertical-align: top;
	margin: 0 4em 1em 0;

	h3 {
		margin-top: 1em;
	}
}

.map {
	width: 700px;
	align: right;
	margin-top: 1em;
}

.timeline {

	.bubble {
		background-size: 383px;
	}
}

.skype {
	background-image: url("../img/socialicons.png");
	background-position: -133px -54px;
}

.twitter {
	background-image: url("../img/socialicons.png");
	background-position: -51px -54px;
}

.google {
	background-image: url("../img/socialicons.png");
	background-position: -92px -54px;
}

.facebook {
	background-image: url("../img/socialicons.png");
	background-position: -8px -54px;
}

.xing {
	background-image: url("../img/socialicons.png");
	background-position: -217px -54px;
}

.linkedin {
	background-image: url("../img/socialicons.png");
	background-position: -175px -54px;
}

.github {
	background-image: url("../img/socialicons.png");
	background-position: -259px -54px;
}

.vimeo {
	background-image: url("../img/socialicons.png");
	background-position: -300px -54px;
}

.lastfm {
	background-image: url("../img/socialicons.png");
	background-position: -342px -54px;
}
