.curriculum {

}


.timeline {

	position: relative;
	margin-left: 1em;

	.line {
		position: absolute;
		width: 1px;
		height: 100%;
		background-color: $lightgrey;
	}

	.timestamp {
		margin-bottom: .5em;
	}

	.bubble {
		z-index: 10;
		position: absolute;
		left: -1em;
		width: 2em;
		height: 2em;
		border-radius: 50%;
		background-color: $lightgrey;
	}

	.row {

		position: relative;
		padding-left: 2em;
		margin-bottom: 2em;
        clear: both;
	}
}