main {
	clear: both;
	position: relative;

	p {
		margin-bottom: 1.4em;
		line-height: 1.6em;
		font-weight: 300;
	}

	a {
		@include transition(.25s);
		
		text-decoration: none;
		font-weight: 300;
		color: $red;

		&:hover {
			color: $black;
		}
	}

	blockquote {
		padding: .2em .7em;
		margin: 0 0 1.4em;
		border-left: 5px solid #eee;
	}

	blockquote p:last-child,
	blockquote ul:last-child,
	blockquote ol:last-child {
		margin-bottom: 0;
	}
}