@media (max-width: 740px) {

	.project-wrapper {
		margin-left: -4%;
	}

	.project-thumb {
		width: 45%;
		margin: 0 0 4% 4%;
	}

	.project-page {

		.project-description {
			width: 100%;
		}

		.project-images {
			position: static;

			img {
				width: 100%;

				&:not(:first-child) {
					display: none;
				}
			}
		}
	}

	.map {
		margin-top: 0;
		width: 100%
	}

	.timeline {
		margin-right: 1em;
		display: block;
	}

	header nav {
		line-height: 1.6em;
		float: none;
		display: block;
		margin: 1.5em 0 2em 0;
	}
}

@media (max-width: 520px) {

	.map {
		display: none;
	}

	.project-thumb {
		width: 96%;
		margin: 4% 4%;
	}
}