nav {

	display: inline-block;
	text-align: right;
	float: right;
	margin-top: 2.2em;

	ul {
		margin-right: 2.5em
	}

	li {
		display: inline;

		a {
			position: relative;
			text-decoration: none;
			font-weight: 300;
			font-size: 1.2em;
			color: #bf3600;
			margin-right: .5em
		}

		a:hover {
			color: #333;
		}

		a.active:after {
			content: '';

			width: 100%;
			position: absolute;
			left: 0;
			bottom: -3px;

			border-width: 0 0 2px;
			border-style: solid;
		}
	}
}