.project-thumb {

	position: relative;
	display: inline-block;
	margin: 0 1.1em 1.1em 0;
	width: 23%;

	img {
		width: 	100%;
	}

	figcaption {
		opacity: 0;
		@include transition(.25s);

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: .4em .5em .5em;
		background-color: rgba(34,34,34,.7);
		color: #fff;
		font-size: 0.9em;
	}

	.active {
		opacity: 1;
	}
}



.project-page {
	text-align: left;
	margin: 0;
	width: 100%;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.back {
		@include transition(.25s);

		cursor: pointer;
		font-size: 3em;
		color: #bf3600;

		&:hover {
			color: #222;
		}
	}

	.project-description {
		display: inline-block;
		width: 60%;
		margin-bottom: 1em;
	}

	.project-images {
		width: 30%;
		float: right;
		margin-right: 3em;
		
		img {
			text-align: right;
			margin-left: auto;
			display: block;
			width: 300px;
			margin-bottom: 1.1em;
		}
	}
}

