<article ng-repeat="project in projects">

	<!-- project thumbnail -->
	<section ng-show="!ProjectsCtrl.detailMode">
		<h3>{{project.title}} {{$index}} {{ProjectsCtrl.detailMode}}</h3>
	    <a href ng-click="ProjectsCtrl.switchMode($index)">
	    	<img alt="{{project.title}}" ng-src="{{'img/' + project.images[0]}}">
	    </a>      
	</section>

	<!-- project details -->
	<section ng-show="$index === ProjectsCtrl.currentProject && ProjectsCtrl.detailMode">
		<h3>{{project.title}} {{$index}} {{ProjectsCtrl.detailMode}}</h3>
		<p>{{project.description}}</p>
	</section>

</article>